# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import asc
from pyspark.sql.functions import desc
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
import pyspark
from pyspark import SparkContext,SparkConf
# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) create a view to use with your SQL queries
# 5) write code to answer the quiz questions

In [9]:
spark=SparkSession \
     .builder \
     .appName("challenge 2") \
     .getOrCreate()

In [13]:
spark.sparkContext.getConf().getAll()

[('spark.driver.host', 'f999e4b997df'),
 ('spark.app.name', 'challenge 2'),
 ('spark.rdd.compress', 'True'),
 ('spark.driver.port', '36901'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.id', 'local-1658161230858'),
 ('spark.ui.showConsoleProgress', 'true')]

# Question 1

Which page did user id ""(empty string) NOT visit?

In [14]:
path="data/sparkify_log_small.json"
user_log=spark.read.json(path)

In [20]:
user_log.createOrReplaceTempView("user_log_table")

In [24]:
# TODO: write your code to answer question 1
spark.sql("""
          SELECT DISTINCT page
            FROM user_log_table
           WHERE userId==''
""").show()

+-----+
| page|
+-----+
| Home|
|About|
|Login|
| Help|
+-----+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [28]:
# TODO: write your code to answer question 3
spark.sql("""
          SELECT COUNT(DISTINCT userId) AS female_count
            FROM user_log_table
           WHERE gender=='F'
   
   """).show()

+------------+
|female_count|
+------------+
|         462|
+------------+

# Question 4

How many songs were played from the most played artist?

In [38]:
# TODO: write your code to answer question 4
spark.sql("""
        SELECT count(page) AS songs_played
          FROM user_log_table
         WHERE page=="NextSong"
         GROUP BY artist
         ORDER BY count(1) DESC
         LIMIT 1
""").show()

+------------+
|songs_played|
+------------+
|          83|
+------------+

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5